<h1>{{title}}</h1>
{{#with post}}
<h2 class="text-xl">{{title}}</h2>
<div>
    Writer: <b>{{writer}}</b>
</div>
<div>
    Total: {{hits}} || {{dateString createdDt}}
    <button onclick="modifyPost()">Edit</button>
    <button onclick="deletePost()">Delete</button>
</div>

<div>
    <pre>{{content}}</pre>
</div>

<section>
    <div>
        <h3>There are 3 comments</h3>
    </div>

    <form method="post" action="/write-comment">
        <div>
            <div>
                <input type="text" name="name" placeholder="name" />
                <input type="password" name="password" placeholder="pasword" />
            </div>
            <div>
                <textarea cols="40" rows="3" name="comment" placeholder="Typing comment(s)"></textarea>
                <br /><br /><button>Add Comment</button>
            </div>
        </div>
    </form>
</section>

<!-- Show Comment -->
<section>
    <div>
        <div>
            Writer: <b>Comment Writter</b>
        </div>
        <div>
            WriteDate: 2023-01-01 00:00:00
            <button onclick="deleteComment('1')">Delete</button>
        </div>
        <div>
            <pre>{{comment}}</pre>
        </div>
    </div>
</section>
{{/with}}
<footer>
    <div>
        <a href="/">To list</a>
    </div>
</footer>
<script>
    const postOption = {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
    }

    async function modifyPost() {
        const password = prompt("Typing your Password");
        if (!password){
            return;
        }

        const result = await fetch("/check-password", {
            ...postOption,
            body: JSON.stringify({ id: "{{post._id}}", password })
        });

        const data = await result.json();

        if (data.isExist){
            document.location = "/modify/{{post._id}}"
        }else {
            alert("Wrong password.");
        }
    }
    
    async function deletePost() { }
</script>